/**
Common customization
**/

[data-md-color-primary] {
    --md-typeset-a-color:#F15721 !important;
    --md-footer-bg-color: rgb(22 27 43 / 84%);
    --md-footer-bg-color: rgb(30 36 58);
}

/**
Dark customization
**/

[data-md-color-primary=dark-kandle] {
    --md-primary-fg-color: rgb(22 27 43 / 84%);
}


/**
Light customization
**/

[data-md-color-primary=light-kandle] {
    --md-primary-fg-color: #FFFFFF;
}


/**
    Custom Task List
**/
.markdown-body .task-list-item {
    list-style-type: none !important;
  }
  
  .markdown-body .task-list-item input[type="checkbox"] {
    margin: 0 4px 0.25em -20px;
    vertical-align: middle;
  }
  
  .markdown-body .task-list-control {
    display: inline; /* Ensure label is inline incase theme sets it to block.*/
  }
  
  .markdown-body .task-list-control {
    position: relative;
    display: inline-block;
    color: #555;
    cursor: pointer;
  }
  
  .markdown-body .task-list-control input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
  }
  
  .markdown-body .task-list-indicator {
    position: absolute;
    top: -8px;
    left: -18px;
    display: block;
    width:  14px;
    height: 14px;
    color: #eee;
    background-color: #eee;
    border-radius: .25rem;
  }
  
  .markdown-body .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
    display: block;
    margin-top: -4px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 1;
    content: "✔";
    color: #F15721;
  }

  .md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #F15721;
    -webkit-mask-image: var(--md-tasklist-icon--checked);
    mask-image: var(--md-tasklist-icon--checked);
}
